@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-clr: #fff;
  --bg-purple: #23212e;
  --txt-purple: #908fa5;
  --primary-purple: #9984ee;
  --secondary-purple: #6f4ef4;
}

.product-container {
  background-color: var(--bg-purple);
  min-height: 100vh;
  padding-inline: 6rem;
  isolation: isolate;
}

.navbar {
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlist {
  display: flex;
  gap: 3rem;
}

.hero-section {
  height: calc(100vh - 13vh);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iamge-container {
  width: 40rem;
  position: relative;
  animation: fadeIn 1.2s ease-in-out;
}

.iamge-container img {
  max-width: 100%;
  height: auto;
}

.line {
  background: var(--white-clr);
  width: 2.5rem;
  height: 0.21rem;
  margin: 0.35rem;
  border-radius: 2rem;
}

.hamburger {
  cursor: pointer;
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo {
  font-size: 1.6rem;
  color: var(--primary-purple);
  font-weight: 700;
}

.logo span {
  color: white;
}

.links {
  color: var(--txt-purple);
  transition: 0.3s ease-in-out;
}
.links:hover {
  color: var(--white-clr);
}

button {
  background: linear-gradient(
    45deg,
    var(--primary-purple),
    var(--secondary-purple)
  );
  border: none;
  color: var(--white-clr);
  padding: 0.8rem 2rem;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
}

button:hover {
  background: linear-gradient(
    45deg,
    var(--secondary-purple),
    var(--primary-purple)
  );
  box-shadow: 0 0 5px var(--secondary-purple);
}
.content {
  max-width: 550px;
}

.content h1 {
  font-size: 4rem;
  background: linear-gradient(45deg, var(--white-clr), var(--primary-purple));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  color: var(--txt-purple);
  margin: 1rem 0 2rem 0;
  font-size: 1rem;
  text-wrap: balance;
}

.iamge-container::before {
  content: "";
  background: var(--primary-purple);
  animation: fadeIn 1.2s ease-in-out;
  width: 25rem;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(160px);
  z-index: -1;
}

.iamge-container::after {
  content: "";
  position: absolute;
  width: 20rem;
  aspect-ratio: 1;
  background: var(--primary-purple);
  border-radius: 50%;
  right: 0;
  top: -15%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  .navlist {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary-purple);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 17rem;
    z-index: 5;
    transform: translateX(-100%);
  }
  .navlist-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  .logo {
    z-index: 6;
  }
  .links {
    color: var(--white-clr);
  }
  .navbar button {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .product-container {
    padding-inline: 2rem;
    height: 130vh;
  }
  .hero-section {
    flex-direction: column;
  }
  .content h1 {
    font-size: 3.2rem;
  }
  .content {
    margin-top: 3rem;
  }
  .iamge-container {
    width: 20rem;
    margin-top: 2rem;
  }
  .iamge-container::after {
    width: 12rem;
  }
  .iamge-container::before {
    width: 15rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}
